<div id="foot" style="width:100%; max-width: unset; padding=40px">
        <br>
        <hr>
        <br>
	<div>
	<?php
	  putenv("TZ=America/Los_Angeles");
	  echo "Last modified: " . date( "F d, Y", getlastmod() );
	?>
	</div>
        <br>
        <div class="">
              <a href="http://physics.berkeley.edu" target="_blank"><IMG src="images/physics-logo.png" style="width:30%; padding-top: 18px;" align="left"></a> 
              <a href="http://ciqc.berkeley.edu" target="_blank"><br><IMG src="images/CIQC-logo.png" style="width:48%; padding-top: 0px" align="right"></a>
	</div>
</div>
