<td width="112">
    {% if include.image != "" %}
        <img src="{{ include.image }}" align="right" height="200px" alt="{{ include.name }}" />
    {% endif %}
</td>
{% if include.full_row %}
<td width="750" colspan="3">
{% else %}
<td width="350">
{% endif %}
    <h2>{{ include.name }}</h2>
    <script>
        emicon("{{ include.email_suffix }}", "{{ include.email_domain }}", "{{ include.email_name }}");
    </script>
    <h4 class="contact">{{ include.title }}</h4>
    <p class="bio">{{ include.bio }}</p>
</td>