<div id="cssmenu">
	<!--enter your hyperlinks here-->
	<ul>
	<li><a href=".">Home</a></li>
	
	<li class="has-sub"><a href="#" onclick="return false;">Research</a>
		<ul>
			<li><a href="research/ring-trap/ring-trap.html">Ring Trap</a></li>
			<li><a href="research/quantum-computing/quantum-computing.html">Surface Treatment</a></li>
			<li><a href="research/quantum-emulation/quantum-emulation.html">Quantum Simulation</a></li>
			<li><a href="research/quantum-electronics/quantum-electronics.html">Double Trap</a></li>
			<li><a href="research/staq/staq.html">Scalable Trap</a></li>
			<li><a href="research/eQIP/eQIP.html">Electron Trap</a></li>
		</ul>
	</li>
	<li><a href="members/members.html">Members</a></li>
	<li><a href="publications/publications.html">Publications</a></li>
	<!--<li><a href="theses.html">Theses</a></li>-->
	<!--<li><a href="presentations/presentations.html">Presentations</a></li>-->
	<!--<li><a href="teaching/teaching.html">Teaching</a></li>-->
	<!--<li><a href="links">Links</a></li>-->
	<li><a href="visitors/visitors.html">Visitor Information</a></li>
	<li><a href="https://amo-berkeley-edu.squarespace.com/current-listings" target="_blank">AMOQI Seminar</a></li>
	<li><a href="https://ciqc.berkeley.edu/" target="_blank">CIQC</a></li> 
	<!-- <li><a href="http://www.icols2013.org">ICOLS 2013</a></li> -->
	<!-- <li><a href="https://sites.google.com/view/2019bacam" target="_blank">BACAM</a></li> -->
	<!-- <li><a href="https://amo-berkeley-edu.squarespace.com/caique-2020-meeting" target="_blank">CaIQuE</a></li> -->
	</ul>
	<!--end of hyperlinks-->
</div>
